<%- include('partials/header.ejs') %> 
<body>
	<%- include('partials/navbar.ejs') %> 
	<div class="container">
		<div class="card" id="ask-form">
			<div class="card-header mt-2">
				<h3>Ask something!</h3>
			</div>
			<div class="card-body">
				<form method="POST" action="/ask">
					<label >Title:</label>
					<input name="title" placeholder="Enter your title here..."type="text" class="form-control"><br>
					<label for="desc" >Description:</label>
					<textarea name="desc" placeholder="Write here..." class="form-control" cols="30" rows="10"></textarea><br>
					<button class="btn btn-success">Send Question</button>
				</form>
			</div>
		</div>
	</div>
</body>
<%- include('partials/footer.ejs') %>