<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %> 
<body>
	<div class="container">
		<div class="card" id="ask-form">
			<div class="card-header mt-2">
				<h3>Ask something!</h3>
			</div>
			<div class="card-body">
				<form action="">
					<label for="">Title:</label>
					<input placeholder="Enter your title here..."type="text" name="" id="" class="form-control"><br>
					<label for="">Description:</label>
					<textarea placeholder="Write here..." class="form-control" cols="30" rows="10"></textarea><br>
					<button class="btn btn-success">Send Question</button>
				</form>
			</div>
		</div>
	</div>
</body>
<%- include('partials/footer.ejs') %>